.categories {
  margin-top: 75px;
  margin-bottom: 80px;
}

.categories .section-title {
  width: 312px;
  margin: 0 auto;
}

.categories-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.categories-card .card {
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  text-decoration: none;
  text-align: center;
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
  color: var(--text-primary-color);
}

.categories-card .card h3 {
  font-size: 28px;
  font-weight: var(--text-weight);
}

.categories-card .card.single-line {
  padding-top: 50px;
}

.categories-card .card.single-line.transfer img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
  }

  .categories-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .categories-card {
    justify-content: center;
    gap: 120px;
    flex-wrap: nowrap;
  }

  .categories-card .card {
    width: 430px;
  }
}

@media screen and (min-width: 1024px) {
  .categories-card .card {
    width: 280px;
  }
}
